* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(235, 235, 235);
}


}
@media (max-width:500px) {
    nav,
    nav ul {
        flex-direction: column;
        align-items: center;
    }
}
a {
    text-decoration: none;
    color: black;
    margin-left: 10px;
    display: flexbox;
    text-shadow: 10%;
}
a:hover {
    border: 5px solid rgb(27, 153, 4);
    border-bottom: none;
    border-right: none;
    border-left: none;
    transition: 200ms;
    text-decoration: none;
    color: black;
    font-weight: bolder;
}
.collapse {
    justify-content: space-evenly;
    text-align: right;
    flex-grow: 1;
}
.collapse,
.icons {
    justify-content: space-between;
    font-size: larger;
}
a,
.navbar-brand:hover {
    border: none;
}
.navbar {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(179, 179, 179);
    border-left: none;
    border-top: none;
    border-right: none;
}
.grids {
    display: grid;
    grid-template-columns: 80% 20%;
    margin: 10px;
    gap: 2px;
}
.grids .item {
    border: none;
    gap: 2px;
}
.Lside {
    height: 1000px;
    padding-left: 30px;
}
item,
.Rside {
    height: 1000px;
    margin-left: 30px;
    padding: 10px;
    margin-top: 50px;
    width: 200px;
}
table,
th,
td {
    border: none;
    border-collapse: collapse;
}
th,
td {
    padding: 2px;
    text-align: auto;
    font-weight: 300;
    color: none;
}
table {
    width: 100%;
    height: 10vh;
}
.form-control {
    height: 40px;
    width: 200px;
}
.assign_panel .navbar-nav a:hover {
    border: 5px solid rgb(236, 19, 19);
    border-top: none;
    border-right: none;
    border-left: none;
    transition: 200ms;
    text-decoration: none;
    color: black;
}
img {
    height: 60vh;
    margin-left: 50vh;
}
.image {
    background-color: rgb(255, 255, 255);
    height: 70vh;
}
.news_text {
    padding-left: 55vh;
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 5px;
}
.news_panel {
    border: 1px solid rgb(179, 179, 179);
    border-radius: 3px;
    margin-bottom: none;
}
.disabled_buttons {
    padding-bottom: 10px;
}
.card1 {
    height: 25vh;
}
.card-title {
    font-weight: bolder;
    font-size: medium;
}
.card-text {
    font-weight: light;
    font-size: small;
}
.card1 .btn button {
    background-color: rgb(179, 179, 179);
    border-color: green;
    height: 10%;
    font-size: smaller;
    margin: auto;
}
.card3 {
    height: 60vh;
}
.footer {
    background-color: rgb(255, 255, 255);
    padding: 1rem;
}
ul {
    display: flex;
    flex-direction: row;
}
li {
    padding: 10px;
    list-style: none;
}
.footer a:hover {
    border: none;
}
nav {
    font-size: small;
}
.navbar_second a:hover {
    border: none;
}